modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18115 pnpm --filter @workspace/mobile run dev"
waitForPort = 18115

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[mcp]

[[mcp.servers]]
name = "supabase"
command = "npx"
args = ["-y", "@supabase/mcp-server-supabase@latest", "--access-token", "$PERSONAL_ACESS_TOKEN"]

[userenv]

[userenv.shared]
SUPABASE_URL = "https://xsfcilfrzhtxmwmegian.supabase.co"
EXPO_PUBLIC_SUPABASE_URL = "https://xsfcilfrzhtxmwmegian.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzZmNpbGZyemh0eG13bWVnaWFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1Mzc4OTcsImV4cCI6MjA5MDExMzg5N30.XD_C4mZAEr9R9Dx5oM3ZNWV94hhztAAzEn8XaFFVmJQ"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzZmNpbGZyemh0eG13bWVnaWFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1Mzc4OTcsImV4cCI6MjA5MDExMzg5N30.XD_C4mZAEr9R9Dx5oM3ZNWV94hhztAAzEn8XaFFVmJQ"
PERSONAL_ACESS_TOKEN = "sbp_2e1763aa42b9c25ccf86f7d002e644be4a4a3e57"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzZmNpbGZyemh0eG13bWVnaWFuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUzNzg5NywiZXhwIjoyMDkwMTEzODk3fQ.me_eUi-nfJPfJAY5WpJV_gImF_DrVzsT_gVEutnQpxk"
EXPO_PUBLIC_SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiZWttcXpkb3hjc3pueWt1eGRqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3NDQ4NiwiZXhwIjoyMDg5OTUwNDg2fQ.2yf8N9bfH7s7sNT6ju2BuMUgyJdjdQGR76KMNphreMw"
